body {
  background-color: #e6f6ff; /*#ccecff<-Almares*/ /*#f0fff0;<-Azetka*/
}
input {
  background-color: #e6f6ff;
  border: 2px solid #ccecff;
}
input[type=text],
input[type=number] {
  background-color: #f9f9ff;
}
input[type=button]:focus {
  border-color: #aaecff;
}
input[type=submit]:focus {
  border-color: #aaecff;
}
button:focus {
  border-color: #aaecff;
}
textarea {
  background-color: #f9f9ff;
  border: 2px solid #ccecff;
}
#top-banner {
  background-color: #e6f6ff; /*#ccecff<-Almares*/ /*#f0fff0;<-Azetka*/
}
#bottom-banner {
  background-color: #ccecff; /*#ccecff<-Almares*/ /*#d6f5d6;<-Azetka*/
  border: 1px solid #ccecff; /*#ccecff<-Almares*/ /*#d6f5d6;<-Azetka*/
}
#log-in-table > div:nth-child(even) {
  background-color: transparent;
}
.answer-table,
.answer-table-range {
  border: 1px solid #ccecff;
}
.answer-table > div > div,
.answer-table-range > div > div {
  border: 1px solid #dcecff;
  border-top-width: 0px;
  border-bottom-width: 0px;
}

.answer-table-vert > div:nth-child(even),
.answer-table-horiz > div > div:nth-child(even),
.answer-table-horiz-xn > div:nth-child(even),
.answer-table-range > div:nth-child(even),
.answer-table-range > div:nth-child(even) > div > input,
.answer-table-grid > div:nth-child(even) > div:nth-child(even),
.answer-table-grid > div:nth-child(odd) > div:nth-child(odd) {
  background-color: #ccecff;
}
